<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- AJAX -->
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .navbar p 
        {
            margin:0px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .nav-item 
        {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        body 
        {
            background-color: #F1F4F8
        }
        hr 
        {
            margin-top:0px;
        }
        .container 
        {
            background-color:white;
            height: calc(100vh - 60px);
            padding: 60px 40px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <p class="navbar-brand" >B&A</p>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/authors">Authors</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-6">
                <h1>{{author.first_name}} {{author.last_name}}</h1>
            </div>
            <div class="col-2">
                <h1>ID: {{author.id}}</h1>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-6">
                <h3>Books</h3>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for book in author.books.all %}
                        <tr>
                            <th scope="row">{{book.id}}</th>
                            <td>{{book.title}}</td>
                            <td><a href="/books/{{book.id}}">view</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                  </table>
            </div>
            <div class = "col-6">
                <form action="/add-author-to-book" method = "post">
                    {%csrf_token%}
                    <div class="form-group">
                        <h3>Add a book</h4>
                        <select class="form-control" name = "book-title">
                            {%for book in books%}
                            <option >{{book.title}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <input type="hidden" name = "author-id" value = "{{author.id}}">
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>